/* * {
margin: 0;
} */
p {
    margin: 0;
}

@media screen and (min-width: 200px) and (max-width: 700px) {

    body{
        background-color: #4f518c;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 10px;
        
        color: #907ad6;
     }
     .current{
        color: #fff;            
     
       border-bottom: 2px solid ;
     }
    .navigation{
        display: flex;
        justify-content:space-around;
        list-style: none;
        padding: 0 10px;
        margin-bottom : 10px;
        font-size: 10px;
       
    }
    .title{
        font-size: 20PX;
        color: #fdc2de;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5px;}
    .input-wrap{
        position: relative;
        display: inline-block;
        margin-right: 55px;
    }
    .modal-input {
        width: 120px;
        height: 20px;
        border: 5px solid #2c2a4a;
        border-radius: 13px;
        background-color: transparent;
        padding: 0px 8px 0px 31px;
        font-size: 16px;
        text-align: center;
        color: rgb(255 255 255);
    
    }

    .modal-input-lastName,
    .modal-input-date 
    {
        width: 125px;
        margin-left: auto;
        height: 20px;
        border: 2px solid #2c2a4a;
        border-radius: 13px;
        background-color: transparent;
        padding: 0px 8px 0px 31px;
        font-size: 16px;
        text-align: center;
        color: rgb(255, 255, 255);
    }

    .icon-name {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        fill: #dabfff;
        width: 40px;
        text-align: center;
        border: 3px rgb(131 255 104) solid;
    }
    }
    .comp {
        width: 80%;
        display: flex;
        /* flex-direction: column; */
        text-align: start;
        /* justify-content: center; */
        /* padding: 3px; */
        border: 3px solid #9d94d7;
        border-radius: 19px;
        margin:5px 0;
    }

    .scr {
        display: inline-block;
        min-width: 55px;
        font-size: 21px;
        padding: 3px;
        border-radius: 10px;
        background-color: #907ad6;
        text-align: center;
       
        color: #fff;
        display: none;
    }

    .inp {
        width: 100px;
        font-size: 25px;



    }

    .img {
        display: flex;
        width: 15px;
        height: 15px;
        justify-content: center;
    }

    .a1 {
        fill: aqua;
    }
    
    .btnWrap{
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .btnCalc1{
        display: block;
        background-color: #2c2a4a;
        width: 337px;
        height: 41px;
        align-items: center;
        color: #907ad6;
        font-size: 21px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }
   
    .totalPriceWrap{
        
        margin-left: auto;
        margin-right: auto;
    }  
    .totalPrice{
       text-align: center;
        color: #2c2a4a;
        font-size: 20px;
    }
    .scrTotalPrice1{
       
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
    }

    .totalPriceWrap{
        position: relative;
    }
    .iTp{
        position: absolute;
    top: 3px;
    left: 79px;
    display: inline-block;
    margin-right: 100px;
    align-items: center;
    padding-top: 3px;
    }
    ol{
        margin: 0;
       
        list-style-type: none;
        /* list-style-image: url(../img/cart.svg);
        fill: aqua;
         */
    }
    ol li{
        position: relative;
    }
    .lisyImages{
        position: absolute;
        top: 26px;
        left: -35px;
    }